* {
    margin : 0;
    padding: 0;
    box-sizing: border-box;
}
html { 
    background: url(../img/cover.jpg) no-repeat center center fixed; 
    /* Compatibility with old versions */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


.main-container {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(100, 56, 100, 0.5);
}

.browse-container {
    position: absolute;
    top: 20%;
    left: 50%;
   
}

.browse-container > a{
    color: white;
}

